body {
	margin: 0;
}

section {
display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 900px;
  padding: 30px 0px 30px 0px;
  margin: auto;
  background-color: yellow;
}

.forum {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: red;
  width: 900px;
  height: 100vh;
}

.forumpost {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  box-shadow: 1px 6px 12px  rgba(0, 0, 0, 0.16);
  width: 900px;
  height: 150px;
  border-radius: 10px;
  margin: 30px 0 30px 0;
 }

.forumpost h3 {
  margin-bottom: -20px;
  margin-left: 20px;
}

.forumpost p {
  margin-left: 20px;
  margin-right: 20px;
}