/*GENERAL*/

html, body {
  width: auto;
  max-width: 100%;
  overflow-x: hidden;
  background-color: white;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 40px;
}
h2 {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-size: 30px;
}
body {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
}
.menubar {
  font-family: "montserrat" sans-serif;
  font-size: 20px;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: block;
  background-color: white;
  min-width: 100%;
  position: fixed;
  height: 60px;
  top: 0;
  z-index: 1;
  box-shadow: 0px 10px 10px  rgba(0, 0, 0, 0.16);
  }
#menulogo {
  height: 40px;
  padding: 10px 0 0 80px;
}
.menubar a {
    text-decoration: none;
    color: black;
}
li {
  display: inline;
  float: right;
  padding: 20px 80px 0 0;
}

.menubar img {
  height: 40px;
  width: auto;
}



/*BUTTONS*/

button{
  font-size: 20px;
  font-family: "montserrat", sans-serif;
  color: #fff;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: inline-block;
  box-shadow: 1px 6px 12px  rgba(0, 0, 0, 0.16);
  background-color: #298dc1;
  text-transform: uppercase;
  margin-top: 10px;
}
.continuebuttonlogin{
  font-size: 20px;
  float: right;
  width: auto;
  margin-top: 35px;
  padding: 5px 10px;
  background-color: #77bd43;
}
.continuebutton{
  font-size: 20px;
  background-color: #77bd43;
}
.beginbutton{
  font-size: 20px;
  background-color: #298dc1;
}
.readbutton {
  font-size: 20px;
  background-color: #298dc1;
}
.readbuttonright {
  font-size: 20px;
  background-color: #298dc1;
  margin-left: auto;
}
.backbutton {
  font-size: 20px;
  background-color: #298dc1;
}
.closebutton {
  font-size: 20px;
  background-color: #298dc1;
  float: right;
}
.postbutton {
  font-size: 20px;
  background-color: #77bd43;
  float: right;
}
#newpostbutton {
  font-size: 20px;
  background-color: #77bd43;
}

/*LOGIN PAGE*/

#loginsection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#loginbox {
  width: 400px;
  height: 460px;
  padding: 40px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 6px 12px  rgba(0, 0, 0, 0.16);
}
#loginlogo {
  width: 280px;
  height: 80px;
  margin: 60px 60px 60px 60px;
}
input[type=text], input[type=password] {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}
#forgotpassword {
  float: left;
  margin-top: 40px;
}

/*DASHBOARD PAGE*/

#dashboardsection {
  max-width: 900px;
  padding: 60px 0px 60px 0px;
  margin: auto;
}
.halfbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 1px 6px 12px  rgba(0, 0, 0, 0.16);
  width: 425px;
  height: 200px;
  border-radius: 10px;
  margin: 10px 50px 50px 0;
}
.forumpreview {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  align-self: flex-start;
  background-color: white;
  box-shadow: 1px 6px 12px  rgba(0, 0, 0, 0.16);
  width: 900px;
  height: 60px;
  border-radius: 10px;
  margin: 10px 50px 20px 0;
  padding: 0 20px 0 20px;
}

/*LEARNING PAGE*/

#learningsection {
  max-width: 900px;
  padding-top: 60px;
  margin: auto;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 1px 6px 12px  rgba(0, 0, 0, 0.16);
  width: 900px;
  height: 150px;
  border-radius: 10px;
  margin: 0px 0px 0px 0;
}

#introductionsection {
  max-width: 900px;
  padding-top: 60px;
  margin: auto;
}

#tutorial {
  display: flex;
  flex-direction: row;
}

#tutorialleft {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 1px 6px 12px  rgba(0, 0, 0, 0.16);
  width: 300px;
  height: 450px;
  border-radius: 10px;
  margin: 0px 0px 50px 0px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: red;*/
  width: 550px;
  height: 450px;

}

#tutorialright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #298dc1;
  box-shadow: 1px 6px 12px  rgba(0, 0, 0, 0.16);
  width: 550px;
  height: 300px;
  border-radius: 10px;
  margin: 0px 0px 105px 50px;
}

.tutorialhead {
  margin-left: 20px;
}

.tutorialsub {
  margin-left: 40px;
}

/*FORUM PAGE*/

#forumsection {
  max-width: 900px;
  padding-top: 80px;
  margin: auto;

}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    height: 400px;
}

#newpostform {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  height: 55%;
}
.forumbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  box-shadow: 1px 6px 12px  rgba(0, 0, 0, 0.16);
  width: 900px;
  height: 150px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.forumbox h3 {
  margin-bottom: -20px;
  margin-left: 15px;
}

.forumbox p {
  margin-left: 15px;
  margin-right: 15px;
}



/*FORUMPOST 1*/

#forumpost1section {
  max-width: 900px;
  padding-top: 60px;
  margin: auto;
  height: 100vh;
}

.forumpagebox {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background-color: white;
  box-shadow: 1px 6px 12px  rgba(0, 0, 0, 0.16);
  width: 900px;
  height: 150px;
  border-radius: 10px;
  margin-top: 50px;
  padding: 0 50px 0 50px;
}

footer {
  display: flex;
  align-items: center;
  font-family: "montserrat" sans-serif;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: #fff;
  flex-direction: row;
  color: #00000;
  box-shadow: 10px 10px 10px 10px  rgba(0, 0, 0, 0.16);
}
