/*GENERAL*/

html, body {
  width: auto;
  max-width: 100%;
  overflow-x: hidden;
  background-color: white;
  margin: 0;
  padding: 0;
  column-gap: 0;
}
h1 {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 40px;
  padding: 10px 0 10px 0px;
  margin: 0;
}
h2 {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-size: 30px;
  padding: 10px 0 10px 0;
  margin: 0;
}
body {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
}

p {
  padding: 10px 0 10px 0;
  margin: 0;
}


/* HEADER */
.navbar {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  font-family: "montserrat" sans-serif;
  text-transform: uppercase;
  min-width: 100%;
  height: 60px;
  box-shadow: 0px 10px 10px  rgba(0, 0, 0, 0.16);
  font-size: 20px;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbar a {
  font-size: 20px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: auto;
}

.navbar img {
  height: 40px;
  width: auto;
  margin-left: 5%;
  margin-right: 30%;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: #298dc1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {

}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: white;
}


/*BUTTONS*/
button{
  font-size: 20px;
  font-family: "montserrat", sans-serif;
  color: #fff;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: inline-block;
  box-shadow: 1px 6px 12px  rgba(0, 0, 0, 0.16);
  background-color: #298dc1;
  text-transform: uppercase;
  margin-top: 10px;
}
.continuebuttonlogin{
  font-size: 20px;
  float: right;
  width: auto;
  margin-top: 35px;
  padding: 5px 10px;
  background-color: #77bd43;
}
.continuebutton{
  font-size: 20px;
  background-color: #77bd43;
}
.beginbutton{
  font-size: 20px;
  background-color: #298dc1;
}
.readbutton {
  font-size: 20px;
  background-color: #298dc1;
}
.readbuttonright {
  font-size: 20px;
  background-color: #298dc1;
  margin-left: auto;
}
.readbuttonforum {
  font-size: 20px;
  background-color: #298dc1;
  float: right;
  margin: 10px 20px 10px 10px;
}
.likebutton {
  font-size: 20px;
  font-family: "montserrat", sans-serif;
  color: #fff;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: inline-block;
  box-shadow: 1px 6px 12px  rgba(0, 0, 0, 0.16);
  background-color: #298dc1;
  text-transform: uppercase;
  margin: 10px 0px 10px 20px;
  }
.backbutton {
  font-size: 20px;
  background-color: #298dc1;
}
.closebutton {
  font-size: 20px;
  background-color: #298dc1;
  float: right;
}
.postbutton {
  font-size: 20px;
  background-color: #77bd43;
  float: right;
}

.cancelbutton {
  font-size: 20px;
  background-color: #d74127;
}

.updatebutton {
  font-size: 20px;
  background-color: #77bd43;
  float:right;
}

#newpostbutton {
  font-size: 20px;
  background-color: #77bd43;
  margin-left: auto;
  float: right;
  margin-top: 120px;
}

.tutorialbackbutton {

  width: 100px;
  height: 35px;
}

button:hover{
  opacity:0.5;
}

.likebutton:hover{
    opacity:0.5;
}

/*LOGIN PAGE*/
#loginsection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#loginbox {
  width: 400px;
  height: 460px;
  padding: 40px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 6px 12px  rgba(0, 0, 0, 0.16);
}
#loginlogo {
  width: 280px;
  height: 80px;
  margin: 60px 60px 60px 60px;
}
input[type=text], input[type=password] {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}
#currentlike {
  color: #000000;
  padding: 5px 10px;
  border-radius: 10px;
  width: 50px;
  text-align: center;
  display: inline-block;
  box-shadow: 1px 6px 12px  rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin: 10px 10px 10px 0px;
}

#forgotpassword {
  float: left;
  margin-top: 40px;
}

/*DASHBOARD PAGE*/
#dashboardsection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 900px;
  padding: 30px 0px 30px 0px;
  margin: auto;
}

.halfbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 1px 6px 12px  rgba(0, 0, 0, 0.16);
  width: 425px;
  height: 200px;
  border-radius: 10px;
  margin: 10px 50px 50px 0;
}
.forumpreview {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  background-color: white;
  box-shadow: 1px 6px 12px  rgba(0, 0, 0, 0.16);
  width: 900px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.forumpreview button {
  margin-right: 15px;
  margin-bottom: 5px;
}

.forumpreview p {
  margin-left: 15px;
}

.downloadbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 150px;
  border-radius: 10px;
  background-color: #298dc1;
  margin: auto;
  text-transform: uppercase;
  margin-right: 15px;
  margin-bottom: 5px;
  font-size: 20px;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  border: none;
  cursor: pointer;
  
  box-shadow: 1px 6px 12px  rgba(0, 0, 0, 0.16);
  margin-top: 10px;
}

.downloadbutton a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
} 

/*ACCOUNT PAGE*/

#accountsection {
  max-width: 900px;
  padding: 30px 0 30px 0;
  margin: auto;
}

/*LEARNING PAGE*/

#learningsection {
  max-width: 900px;
  padding: 30px 0 30px 0;
  margin: auto;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 1px 6px 12px  rgba(0, 0, 0, 0.16);
  width: 900px;
  height: 200px;
  border-radius: 10px;
  margin: 0 0 30px 0;
}

#introductionsection {
  max-width: 900px;
  padding: 30px 0 30px 0;
  margin: auto;
}

#tutorial {
  display: flex;
  flex-direction: row;
}

#tutorialleft {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 1px 6px 12px  rgba(0, 0, 0, 0.16);
  width: 300px;
  height: 450px;
  border-radius: 10px;
  margin: 0px 0px 50px 0px;
}

#tutorialleft a {
  margin-top: 15px;
  text-decoration: none;
  color: #000;
}

#tutorialleft a:hover {
  color: #298dc1;
}

.right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 550px;
  height: 450px; 
  margin-left: 50px;  
}

#tutorialright {
  display: flex;
  justify-content: center;
  background-color: #298dc1;
  box-shadow: 1px 6px 12px  rgba(0, 0, 0, 0.16);
  width: 550px;
  height: 300px;
  border-radius: 10px;

}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 400px;
}

.video video {
  margin-top: -30px;
}

.tutorialhead {
  margin-left: 20px;
  margin-top: 25px;
  font-weight: bold;

}

.tutorialsub {
  margin-left: 40px;
}

/*FORUM PAGE*/

/*IF WE STYLE #FORUMSECTION INSTEAD OF #FORUMWRAP, IT LOOKS BETTER*/
#forumsection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 900px;
  padding: 30px 0 30px 0;
  margin: auto;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    height: 400px;
}

#newpostform {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  height: 55%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
}
.forumbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  box-shadow: 1px 6px 12px  rgba(0, 0, 0, 0.16);
  width: 900px;
  height: 150px;
  border-radius: 10px;
  margin: 30px 0 30px 0;
  padding: 0 0 10px;
}

.forumbox h2 {
  margin-bottom: -20px;
  margin-left: 20px;
}

.forumbox p {
  margin-left: 20px;
  margin-right: 20px;
}

.halfsection {
  display: flex;
  flex-direction: row;
}


/*FORUMPOSTS*/

#forumpost1section {
  max-width: 900px;
  padding: 30px 0 30px 0;
  margin: auto;
  height: auto;
}

.forumpagebox {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background-color: white;
  box-shadow: 1px 6px 12px  rgba(0, 0, 0, 0.16);
  width: 900px;
  height: auto;
  border-radius: 10px;
  margin: 30px 0 30px 0;
}

.forumheader {
  padding: 20px 20px 20px 20px;
}

.forumsubtext {
  padding: 0px 20px 20px 20px;
  color: #D3D3D3;
}

.forumcontent {
  padding: 0px 20px 20px 20px;
}

.commenthead {
  padding: 0px 20px 20px 20px;
}

.commentbox {

}

/*popup*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,

.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


footer {
  display: flex;
  align-items: center;
  font-family: "montserrat" sans-serif;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: #fff;
  flex-direction: row;
  color: #00000;
  box-shadow: 10px 10px 10px 10px  rgba(0, 0, 0, 0.16);
}
